@use "../../styles/vars";

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

@media only screen and (max-width: 425px) {

    .notification {
        display: flex;
        justify-content: center;
        align-items: center;

        &__img {
            height: auto;
        }

        &__content {
            text-align: center;
            padding: 0.7rem;
        }
    }

    .--open {
        background-color: vars.$color-success-light;
        color: vars.$color-success-dark;
    }

    .--close {
        background-color: vars.$color-error-light;
        color: vars.$color-error-dark;
    }
}

/* ------------------------------------------------------ */
/* Responsive CSS 425px > 1024px */
/* ------------------------------------------------------ */

@media only screen and (min-width: 425px) {

    .notification {
        margin: 0 -1.4rem;
        margin-bottom: 1rem;
        margin-top: -1rem;

        &__content {
            text-align: center;
            padding: 1rem;
            font-size: 1.2rem;
            border-radius: 10px;
        }
    }

    .--open {
        background-color: vars.$color-success-light;
        color: vars.$color-success-dark;
    }

    .--close {
        background-color: vars.$color-error-light;
        color: vars.$color-error-dark;
    }
}

/* ------------------------------------------------------ */
/* DESKTOP (min 1024px) */
/* ------------------------------------------------------ */

@media only screen and (min-width: 1024px) {

    .notification {
        border-radius: 10px;
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &__content {
            font-size: 1.5rem;
            border-radius: 10px;
        }
    }

    .--open {
        background-color: vars.$color-success-light;
        color: vars.$color-success-dark;
    }

    .--close {
        background-color: vars.$color-error-light;
        color: vars.$color-error-dark;
    }
}
