@use "../../styles/vars";


/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

/* Mobile responsive (320px-425px) */
@media only screen and (max-width: 425px) {
  .products-page__button {
    margin: 1rem;
    }
    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

/* Tablet responsive (425px-1024px) */
@media only screen and (min-width: 425px) {
  .products-page__button {
    margin: 1rem;
    }
    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

/* Desktop responsive (1024px-1440px) */
@media only screen and (min-width: 1024px) {
  .products-page__button {
  margin: 1rem;
  }
  .button-container {
    display: flex;
    justify-content: flex-start;
}
}

/* ------------------------------------------------------ */
/* Commun CSS */
/* ------------------------------------------------------ */
.products-page__button {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: vars.$secundary-color;
  color: white;
  padding: .5rem;
  border: vars.$primary-border;
  box-shadow: 0 0 .3rem black;
  transition: .3s;

  &:hover {
    box-shadow: 0 0 .3rem darkorange;
    color: orange;
  }
}