@use '../../../styles/vars';

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

/* Mobile responsive (320px-425px) */
@media only screen and (max-width: 425px) {
    
}

/* Tablet responsive (425px-1024px) */
@media only screen and (min-width: 425px) {
    
}

/* Desktop responsive (1024px-1440px) */
@media only screen and (min-width: 1024px) {
    
}

/* ------------------------------------------------------ */
/* Commun CSS */
/* ------------------------------------------------------ */
.tag {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.4rem;
    font-size: 1rem;
}

.tag__available {
    background: radial-gradient(vars.$color-success-light, vars.$color-success-dark);
    text-shadow: vars.$shadow-light-tag 1px 0 10px;
    border: 2px solid vars.$available-tag-border;
    border-radius: 10px;
    padding: 1rem;
}

.tag__unavailable {
    background: radial-gradient(vars.$color-error-light, vars.$color-error-dark);
    text-shadow: vars.$shadow-light-tag 1px 0 10px;
    border: 2px solid vars.$unvailable-tag-border;
    border-radius: 10px;
    padding: 1rem;
}