@use '../../../styles/vars';

.contact {
    color: vars.$alternative-color;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media only screen and (min-width: 1024px) {
    .container-flex {
        flex-direction: row;
        justify-content: space-between;
    }
}   