@use "../../styles/vars";

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */
@media only screen and (max-width: 425px) {
  .who {
    border: 0.2rem solid vars.$alternative-color;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: auto;

    .who__title {
      padding-top: 1rem;
      font-size: 1.4rem;
      color: vars.$alternative-color;
    }

    p {
      padding-bottom: 1rem;
      color: vars.$alternative-color;
      overflow: hidden;
      padding: 1rem;
    }
  }
  .who__img {
    height: 240px;
    width: auto;
    display: flex;
    margin: 20px;
  }
  .btn {
    background-color: vars.$primary-color;
    color: vars.$background-light-color;
    border-radius: 2rem;
  }
}

/* Tablet responsive (425px-1024px) */

@media only screen and (min-width: 425px) {
  .who {
    border: 0.2rem solid vars.$alternative-color;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    height: auto;

    h2 {
      padding-top: 1rem;
      font-size: 2rem;
      color: vars.$alternative-color;
    }

    p {
      padding: 1rem;
      color: vars.$alternative-color;
      overflow: hidden;
    }
  }
  .who__img {
    width: 65%;
    height: auto;
    display: flex;
    margin: 1.5rem;
  }
  .btn {
    background-color: vars.$primary-color;
    color: vars.$background-light-color;
    border-radius: 2rem;
  }
}

/* Desktop responsive (1024px-1440px) */

@media only screen and (min-width: 1024px) {

  .who__img {
    width: 40%;
  }
}
