@use '../../../../styles/vars';

.contact__horaire {
    color: vars.$primary-color;
    background-color: vars.$secundary-color;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.contact__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;

    & i {
        margin-right: 1rem;
        color: orange;
    }
}

.contact__horaire-table {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;

    &  {
        padding: 1rem;
    }
}

@media only screen and (min-width: 1024px) {
    .contact__horaire {
        width: 33%;
    }
}