@use '../../../styles/vars';

.overlay {
    position: fixed;
    inset: 0; /* shortcut de top+bottom+left+right */
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 9999;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal {
    border: 1px solid black;
    border-radius: 10px;
    background-color: vars.$background-light-color;
    padding: 1rem;
    max-height: 80%;
    width: 80%;
    overflow-Y: scroll;
}