@use "../../../../styles/vars";

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

/* Styles généraux */
.aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: vars.$background-light-color;
}

.aboutus__title {
  font-size: 2.5rem;
  color: vars.$alternative-color;
  margin-bottom: 1.875rem;
  text-align: center;
  text-shadow: 2px 4px 8px white;
}

.aboutus__img-div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 75%;
  margin-bottom: 1.875rem;
}

/* Styles pour les titre des équipes front et back */
.aboutus__img-back,
.aboutus__img-front {
  display: flex;
  flex-direction: column;
}

.aboutus__subtitle-back,
.aboutus__subtitle-front {
  font-size: 2rem;
  width: 25%;
  color: white;
  padding: 1rem;
  background-color: vars.$summer-color;
  border-radius: 50px;
  margin-top: 2rem;
  text-align: center;
  text-shadow: 2px 4px 8px vars.$alternative-color;
  box-shadow: 2px 4px 8px vars.$alternative-color;
}

/* Styles pour les avatars */
.aboutus__dev {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.aboutus__dev-photo {
  position: relative;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.aboutus__dev:hover .aboutus__dev-photo {
  transform: scale(1.1);
}

.aboutus__image {
  width: auto;
  height: 15rem;
  filter: drop-shadow(2px 4px 8px vars.$alternative-color);
}

.aboutus__dev-text {
  width: 55%;
  color: white;
  text-shadow: 2px 4px 3px vars.$primary-color;
  text-align: center;
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.3125rem;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: opacity 0.3s ease-in-out;
  backdrop-filter: blur(1px);
}

.aboutus__dev-photo:hover .aboutus__dev-text {
  display: block; /* Show text on hover */
  opacity: 1;
}

@media only screen and (min-width: 1024px) {

  .aboutus__title {
    margin-bottom: 0;
  }

  .aboutus__img-back,
  .aboutus__img-front {
    flex-direction: row;
  }

  .aboutus__subtitle-back,
  .aboutus__subtitle-front {
    align-self: center;
  }

  .aboutus__dev-text {
    display: none;
  }
}
