@use "../../../../styles/vars";

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

/* Styles généraux */
.aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: vars.$background-light-color;
}

.aboutus__title {
  font-size: 2.5rem;
  color: vars.$alternative-color;
  margin-bottom: 1.875rem;
  text-align: center;
}

.aboutus__img-div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 75%;
  margin-bottom: 1.875rem;
}

/* Styles pour les équipes Back-End et Front-End */
.aboutus__img-back,
.aboutus__img-front {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus__subtitle-back,
.aboutus__subtitle-front {
  font-size: 2rem;
  color: white;
  padding: 1rem;
  background-color: vars.$summer-color;
  border-radius: 50px;
  margin-bottom: 1.25rem;
  text-align: center;
}

/* Styles pour les développeurs */
.aboutus__dev {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus__dev-photo {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
}

.aboutus__dev:hover .aboutus__dev-photo {
  transform: scale(1.1); /* Scale the photo on hover */
}

.aboutus__image {
  width: 100%;
  height: auto;
}

.aboutus__dev-text {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.3125rem;
  border-radius: 5px;
  font-size: 1.1rem;
  border: 1px solid vars.$summer-color;
  transition: opacity 0.3s ease-in-out; /* Add transition for text fade-in */
}

.aboutus__dev-photo:hover .aboutus__dev-text {
  display: block; /* Show text on hover */
  opacity: 1;
}

@media only screen and (min-width: 1024px) {
  .aboutus__img-back,
  .aboutus__img-front {
    flex-direction: row; /* Afficher en ligne en mode desktop */
    gap: 1.25rem; /* Ajouter un espacement entre les membres */
    align-items: flex-start; /* Aligner les membres en haut */
  }

  .aboutus__subtitle-back,
  .aboutus__subtitle-front {
    align-self: flex-start; /* Aligner le titre en haut */
  }

  .aboutus__dev-text {
    display: none;
  }
}
