@use '../../../styles/vars';

.product-tag {
    display: flex;
    align-items: center;
    font-family: vars.$title-font;
    font-size: .9rem;
    border: 1px solid vars.$alternative-color;
    background-color: vars.$background-light-color;
    border-radius: 3px;
    padding: .3rem;
    margin: .1rem;

    &__link {
        color: vars.$primary-color;
    }

    &__img {
        height: 12px;
        border-radius: 50%;
        margin-right: .4rem;
        border: 1px solid vars.$alternative-color;
    }

    &:hover {
        background-color: #3b8c6e;
    }
}

@media only screen and (min-width: 1024px) {
    .product-tag {
        font-size: 1.1rem;
    }
}