@use "../../../styles/vars";

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

/* Mobile responsive (320px-425px) */
@media only screen and (max-width: 425px) {
    .banner {
        margin: 0.7rem;
    }
    
    .banner__img {
        width:80vw;
    }

    .banner__title {
        font-size: 1.7rem;
    }
}

/* Tablet responsive (425px-1024px) */
@media only screen and (min-width: 425px) {
    .banner {
        margin: 1rem;
    }
    
    .banner__img {
        width:50vw;
    }

    .banner__title {
        font-size: 2rem;
    }
}

/* Desktop responsive (1024px-1440px) */
@media only screen and (min-width: 1024px) {
    .banner {
        margin: 2rem;
    }
    
    .banner__img {
        width:40rem;
    }

    .banner__title {
        font-size: 2.3rem;
    }
}

/* ------------------------------------------------------ */
/* Commun CSS */
/* ------------------------------------------------------ */
.banner {
    display: flex;
    justify-content: center; 
}

.banner__img-container {
    position: relative;
    display: inline-block;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.banner__img {
    display: block;
    height: auto;
    border-radius: 10px;
}

.banner__title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 2));
    border-radius: 10px;
}

.banner__title {
    color: white;
    text-align: center;
    margin: 0;
}
