@use "../../../styles/vars";


/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

.highlight__tag--available {
  border-radius: 5px;
  padding: .2rem;
  font-size: .5rem;
  background-color: lightgreen;
  border: 1px solid darkgreen;
  color: darkgreen;
  box-shadow: 0 0 0.3rem black;
  margin-left: .2rem;
}

.highlight__tag--unavailable {
  border-radius: 5px;
  padding: .2rem;
  font-size: .5rem;
  background-color: lightcoral;
  border: 1px solid darkred;
  color: darkred;
  box-shadow: 0 0 0.3rem black;
  margin-left: .2rem;
}

@media screen and (max-width: 425px) {

  .highlight {
    height: 12vh;
    margin-top: 1rem;
    margin-bottom: 2.7rem;
    margin-left: .5rem;
  }

  .highlight__title {
    margin-bottom: 0.9rem;
    margin-top: 0.4rem;
    text-align: center;
  }

  .highlight__card {
    height: 6vh;
    border-radius: 50%;
    box-shadow: 0 0 0.3rem black;
    margin: .5rem;
  }
}

/* ------------------------------------------------------ */
/* Normal CSS */
/* ------------------------------------------------------ */
@media only screen and (min-width: 425px) {

  .highlight {
    height: 20vh;
    margin-bottom: 2rem;
  }

  .highlight__title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 0.7rem;
  }

  .highlight__card {
    height: 8vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 0.6rem;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 1024px) {

  .highlight__card {
    height: 12vh;
    box-shadow: 0 0 0.3rem black;
    padding: 0;
    margin-bottom: .5rem;
    margin-top: .5rem;

    &:hover {
      box-shadow: 0 0 0.5rem black;
    }
  }

  .highlight__tag--available,
  .highlight__tag--unavailable  {
    padding: .1rem;
    font-size: .7rem;
    margin-left: 1rem;
  }


}