@use "../../../styles/vars";


/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

@media screen and (max-width: 425px) {

  .highlight {
    height: 12vh;
    margin-bottom: 0.7rem;
  }

  .highlight__title {
    margin-bottom: 0.9rem;
    margin-top: 0.4rem;
    text-align: center;
  }

  .highlight__card {
    height: 6vh;
    margin: auto;
    border-radius: 50%;
  }
}

/* ------------------------------------------------------ */
/* Normal CSS */
/* ------------------------------------------------------ */
@media only screen and (min-width: 425px) {

  .highlight {
    height: 20vh;
    margin-bottom: 2rem;
  }

  .highlight__title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 0.7rem;
  }

  .highlight__card {
    height: 8vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 0.6rem;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 1024px) {

  .highlight__card {
    height: 12vh;
  }
}