@use '../../../styles/vars';

.button {
    border: vars.$primary-border;
    background-color: vars.$secundary-color;
    color: vars.$primary-color;
    padding: .5rem;
    border-radius: 10px;
    margin-top: .5rem;
}

.button:hover {
    background-color: vars.$summer-color;
    color: white;
    border-color: white;
}