@use "../../../styles/vars";

.map {
  height: 350px;
}

@media only screen and (min-width: 1024px) {
  .map {
    height: 350px;
    margin-bottom: 1.5rem;
    border-radius: 7px;
    box-shadow: 0 0 .3rem black;
  }
}