@use "../../styles/vars";

.formpage__title {
  text-align: center;
  font-size: 1.5rem;
  background-color: vars.$primary-color;
  color: vars.$background-color;
  height: 4rem;
  padding-top: 1rem;
}

.formpage {
  width: 20rem;
  margin: auto;
  display: flex;
  flex-direction: column;

  label {
    margin: 15px 0 5px 0;
  }

  input {
    height: 1.5rem;
    border-radius: 0.5rem;
  }
}

.formpage__resa-div {
  border: 2px solid vars.$primary-color;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.formpage__resa {
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.formpage__input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
  width: 15rem;
}

.formpage__textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
    border-radius: 0.5rem;
}

.formpage__btn {
    width: 40%;
    margin: auto;
    border-radius: 1rem;
    height: 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: vars.$primary-color;
    color: vars.$background-color;
}

/* Tablet responsive (425px-1024px) */
/* If width > or = 425 pixels */

@media only screen and (min-width: 680px) {
  .formpage__title {
    padding-top: 2rem;
    font-size: 2rem;
  }

  .formpage {
    width: 40rem;
  }

  .formpage__resa-div {
    .formpage__resa {
      font-size: 1.5rem;
    }
  }

  input {
    height: 1.5rem;
    border-radius: 0.5rem;
}

  .formpage__input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    label {
      font-size: 1rem;
      vertical-align: middle;
      height: 1.8rem;
    }

    input {
      width: 50%;
    }
  }

  .formpage__textarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    textarea {
      width: 50%;
    }
  }
}