@use "../../styles/vars";

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

/* Mobile responsive (320px-425px) */
/* If width < or = 425 pixels */
@media only screen and (max-width: 425px) {
  .header {
    height: 13rem;
  }
}

/* Tablet responsive (425px-1024px) */
/* If width > or = 425 pixels */
@media only screen and (min-width: 425px) {
  .header {
    height: 30rem;
  }
}

/* Desktop responsive (1024px-1440px) */
/* If width > or = 1024 pixels */
@media only screen and (min-width: 1024px) {
    .header {
        height: 55rem;
        }
    }

/* ------------------------------------------------------ */
/* Commun CSS */
/* ------------------------------------------------------ */
.header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

/* ------------------------------------------------------ */
/* Animation & transition */
/* ------------------------------------------------------ */
@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
}

.header__img:nth-child(1) {
  animation: fade 18s infinite;
}

.header__img:nth-child(2) {
  animation: fade 18s infinite 6s;
}

.header__img:nth-child(3) {
  animation: fade 18s infinite 12s;
}
