@use "../../../styles/vars";

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

/* Mobile responsive (320px-425px) */
@media only screen and (max-width: 425px) {
    .recipe-product__title {
        font-size: 1.3rem;
        padding: 1rem;
    }
    .recipe-product a {
        margin: 0.5rem;
        font-size: 1rem;
    }
}

/* Tablet responsive (425px-1024px) */
@media only screen and (min-width: 425px) {
    .recipe-product__title {
        font-size: 1.3rem;
        padding: 1.5rem;
    }
    .recipe-product a {
        margin: 1.4rem;
        font-size: 1.2rem;
    }
}

/* Desktop responsive (1024px-1440px) */
@media only screen and (min-width: 1024px) {
    .recipe-product__title {
        font-size: 1.7rem;
        padding: 1rem;
    }
    .recipe-product a {
        margin: 1.4rem;
        font-size: 1.3rem;
    }
}

/* ------------------------------------------------------ */
/* Commun CSS */
/* ------------------------------------------------------ */
.recipe-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.recipe-product__title {
    text-align: center;        
    color: vars.$primary-color;
}

.recipe-product a {
    text-align: center;
    padding: 0.7rem;
    border: 2px solid vars.$secundary-color;
    color: vars.$alternative-color;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.recipe-product a:hover {
        color: vars.$background-light-color;
        background-color: vars.$alternative-color;
        border-radius: 10px;
    
}

