@use "../../../styles/vars";

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

/* Mobile responsive (320px-425px) */
@media only screen and (max-width: 425px) {
    .recipe__title {
        font-size: 1.6rem;
        padding: 1rem;
        margin-top: 1.4rem;
    }
    .recipe__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .recipe__list-card {
        margin: 0.75rem; // Space between card
        flex: 0 0 calc(33.333% - 1.5rem); //update width card
    }
}

/* Tablet responsive (425px-1024px) */
@media only screen and (min-width: 425px) {
    .recipe__title {
        font-size: 1.7rem;
        padding: 1.5rem;
    }

    .recipe__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        .recipe__list-card {
            margin: 0.75rem; // Space between card
            flex: 0 0 calc(33.333% - 1.5rem); //update width card
        }
}

/* Desktop responsive (1024px-1440px) */
@media only screen and (min-width: 1024px) {
    .recipe__title {
        font-size: 2.2rem;
        padding: 2rem;
    }

    .recipe__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .recipe__list-card {
        margin: 1rem; // Space between card
        flex: 0 0 calc(45% - 1.5rem); //update width card
    }
}

/* ------------------------------------------------------ */
/* Commun CSS */
/* ------------------------------------------------------ */
.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.recipe__title {
    text-align: center;
    border-bottom: 10px solid vars.$alternative-color;
    margin-bottom: 1rem;
    padding-bottom: 1.2rem;
    border-radius: 50%;
}

.recipe__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe__list-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    overflow: hidden;
}

.recipe__list-card-img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.recipe__list-card-title {
    font-size: 1.5rem;
    color: vars.$color-grey-dark;
    margin-bottom: 0.5rem;
    text-align: center;
}

.recipe__list-card-difficulty,
.recipe__list-card-time {
    font-size: 1rem;
    color: vars.$color-grey-light;
    margin-bottom: 0.5rem;
}

.recipe__list-card-link {
    font-size: 1rem;
    color: vars.$secundary-color;
    text-decoration: none;
}

.recipe__list-card-link:hover {
    color: vars.$color-success-dark;
    font-weight: bold;
}

.recipe__not-exist {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
