@use '../../../../styles/vars';

.contact__info {
    color: vars.$primary-color;
    background-color: vars.$secundary-color;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    padding-right: 2rem;

    &-title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    &-list {
        margin-left: 0.5rem;
        padding-left: 2rem;
        padding-top: 1rem;

        &-item {
            margin-bottom: 1rem;

            & .fa-solid {
                color: orange;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .contact__info {
        width: 33%;
    }
}