@use "../../styles/vars";

/* ------------------------------------------------------ */
/* Normal CSS */
/* ------------------------------------------------------ */

.highlight {
  height: 15vh;
}

.highlight__card {
  height: 12vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  padding: 0.6rem;
}

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

@media screen and (max-width: 425px) {
  .highlight {
    height: 8vh;
  }
  .highlight__card {
    height: 6vh;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
