@use '../../styles/vars';

/* ------------------------------------------------------ */
/* MOBILE (max 425px) */
/* ------------------------------------------------------ */

.footer__emoji-line {
    text-align: center;
    overflow: hidden;
    height: 1rem;
    background: vars.$primary-color;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.footer {
    background: linear-gradient(vars.$primary-color, vars.$alternative-color);
    font-size: .9rem;
    padding: .5rem;
    margin-bottom: 3.5rem;

    &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

        &-item {
            color: vars.$background-light-color;

            & button {
                cursor: pointer;
                border: none;
                background: none;
                margin: 0;
                padding: 0;
                font-family: Lexend, sans-serif;
                color: vars.$background-light-color;
                font-size: .9rem;
                transition: .3s;

                &:hover {
                    color: coral;
                }
            }
        }
    }
}

/* ------------------------------------------------------ */
/* DESKTOP (min 1024px) */
/* ------------------------------------------------------ */
@media only screen and (min-width: 1024px) {
    .footer {
        margin-bottom: 0;
        background: linear-gradient(vars.$primary-color, black);
    }
}