@use '../../../styles/vars';

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

/* Mobile responsive (320px-425px) */
@media only screen and (max-width: 425px) {
    .tips {
        margin: 1rem 20vw;
    }

    .tips__button {
        margin: 1rem;
        padding: 0.7rem;
        font-size: 1rem;
    }

    .tips__text {
        font-size: 0.8rem;
    }

    .visible {
        padding-bottom: 1rem;
    }
}

/* Tablet responsive (425px-1024px) */
@media only screen and (min-width: 425px) {
    .tips {
        margin: 1rem 33vw;
    }

    .tips__button {
        margin: 1rem;
        padding: 1rem;
        font-size: 1.2rem;

    }

    .tips__text {
        font-size: 1rem;
    }

    .visible {
        padding-bottom: 1rem;
    }
}

/* Desktop responsive (1024px-1440px) */
@media only screen and (min-width: 1024px) {
    .tips {
        margin: 2rem 35vw;
    }

    .tips__button {
        margin: 1rem;
        padding: 1rem;
        font-size: 1.3rem;
    }

    .tips__text {
        font-size: 1.1rem;
    }

    .visible {
        padding-bottom: 1rem;
    }
}

/* ------------------------------------------------------ */
/* Commun CSS */
/* ------------------------------------------------------ */
.tips {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: vars.$background-light-color;
    padding: 0.4rem;
    box-shadow:
    inset hsl(203, 71%, 15%) 0 0 5px 2px,
    inset hsl(208, 68%, 27%) 0 0 5px 5px,
    inset hsl(158, 41%, 39%) 0 0 5px 8px,
    inset hsl(135, 51%, 69%) 0 0 5px 9px,
    inset hsl(135, 51%, 69%) 0 0 5px 10px,
    inset hsl(135, 51%, 69%) 0 0 5px 11px;
}

.tips__button {
    background: radial-gradient(vars.$alternative-color, vars.$primary-color);
    border: none;
    border-radius: 10px;
    color: white;
}

.tips__text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    font-style: italic;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ------------------------------------------------------ */
/* Button click event & animation */
/* ------------------------------------------------------ */
.visible {
    max-height: 200rem;
}

.hidden {
    max-height: 0;
}