@use '../../../styles/vars';

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

/* Mobile responsive (320px-425px) */
@media only screen and (max-width: 425px) {
    .modality__title {
        font-size: 1.6rem;
        padding: 1rem;
        margin-top: 1.4rem;
    }

    .modality__description {
        margin: 1rem;
        font-size: 1rem;
    }
}

/* Tablet responsive (425px-1024px) */
@media only screen and (min-width: 425px) {
    .modality__title {
        font-size: 1.7rem;
        padding: 1.5rem;
    }

    .modality__description {
        margin: 1.4rem;
        font-size: 1.2rem;
    }
}

/* Desktop responsive (1024px-1440px) */
@media only screen and (min-width: 1024px) {
    .modality__title {
        font-size: 2.2rem;
        padding: 2rem;
    }

    .modality__description {
        margin: 1.4rem;
        font-size: 1.3rem;
    }
}

/* ------------------------------------------------------ */
/* Commun CSS */
/* ------------------------------------------------------ */
.modality {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.modality__title {
    text-align: center;
    border-bottom: 10px solid vars.$alternative-color;
    margin-bottom: 1rem;
    padding-bottom: 1.2rem;
    border-radius: 50%;
}

.modality__description {
    text-align: center;
}