@use '../../../styles/vars';

/* ------------------------------------------------------ */
/* Mobile (max 526px) */
/* ------------------------------------------------------ */

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
}
.welcome__img {
    width: 100vw;
}

.welcome__title {
    text-align: center;
    font-size: 2rem;
    color: vars.$primary-color;
    margin-top: 1rem;

    border-bottom: 10px solid #3b8c6e;
    margin-bottom: 1rem;
    padding-bottom: 1.2rem;
    border-radius: 50%;
}

.welcome__description {
    margin: 1rem;
    text-align: center;
}

/* ------------------------------------------------------ */
/* DESKTOP (min 1024px) */
/* ------------------------------------------------------ */

@media only screen and (min-width: 1024px) {
    .welcome {
        padding-top: 0;
    }

    .welcome__img {
        width: 100%;
    }

    .welcome__title {
        width: 100%;
        font-size: 5rem;
        padding-bottom: 3.2rem;
    }
}