@use '../../../styles/vars';

.contact__info {
    color: vars.$primary-color;
    background-color: vars.$secundary-color;
    border-radius: 10px;
    padding: 1rem;

    &-title {
        margin-bottom: 0.5rem;
        font-weight: 700;
    }

    &-list {
        margin-left: 0.5rem;

        &-item {
            margin-bottom: 0.5rem;
        }
    }
}